.center {
    text-align: center;
}

div.login-info {
  position: fixed;
  border: 3px solid #000000;
}

body {
  margin: 0px;
}

header {
  background: #00d5ffa8;
  color: #105fd6;
  font-family: "SegoeUI-Semibold", Helvetica;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

header h1 {
  margin: 0;
}

.card-text {
  margin: 0 0 8px;
}

.card-img-top {
  height: 160px;
  object-fit: cover;
}

.listing {
  margin: 0 auto;
}

.listing-panel {
  margin: 0 auto;
  width: 50%;
}

.listing-address {
  font-size: 1em;
  height: 54px;
}

.listing-agent {
  font-size: 0.7em;
  margin-top: 5px;
}