.center {
  text-align: center;
}

div.login-info {
  position: fixed;
  border: 3px solid #000000;
}

body {
  margin: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.navbar {
  background: #00d5ffa8;
  height: 100px;
  padding: 10px;
  text-align: center;
}

.navbar-brand {
  color: #105fd6;
  font-family: "SegoeUI-Semibold", Helvetica;
  font-size: 40px;
}

.add-listing {
  margin: 10px 20px 0 0;
}

.dropdown-toggle {
  margin: 10px 20px 0 0;
}

header h1 {
  margin: 0;
}

.card-text {
  margin: 0 0 8px;
}

.card-img-top {
  height: 160px;
  object-fit: cover;
}

.col {
  margin-bottom: 40px;
}

#listing-container {
  width: 95%;
  margin: auto;
}

.listing-panel {
  width: 100%;
  margin: 10px auto;
}

.listing-address {
  font-size: 1em;
  height: 54px;
}

.listing-agent {
  font-size: 0.7em;
  margin-top: 5px;
}

.rangeFilter div {
  display: inline-block;
}